# modules required.
# install (in a virtualenv): pip install -r REQUIREMENT.txt
#
# hub REST service
pyramid
cornice
cornice_swagger
colander
waitress

# for command line and python AWS tools
awscli
requests
boto3

# AWS IoT
AWSIoTPythonSDK
